<!DOCTYPE html>
<html>
<head>
	<title>세미나실 예약시스템</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/mycss.css">

</head>

    <body class="container">
    <p class="loginp">Edit Space ! </p><br />
    <fieldset>
      <form action="/admin_edit/<%= rows[0].spacename %>" method="post">
        <legend class="loginl">공간정보 수정</legend>
          <div class="row">
            <div class="col-sm-2">
              <label>공간 이름</label>
            </div>
            <div class="col-sm-2">
              <input type="text" name="spacename" value="<%= rows[0].spacename %>">
            </div>
          </div><br />

          <div class="row">
            <div class="col-sm-2">
              <label>공간 이용인원</label>
            </div>
            <div class="col-sm-2">
              <input type="text" name="spaceusernum" value="<%= rows[0].spaceusernum %>">
            </div>
          </div><br />

          <div class="row">
            <div class="col-sm-2">
              <label>공간 선호모임</label>
            </div>
            <div class="col-sm-2">
              <input type="text" name="spaceprefer" value="<%= rows[0].spaceprefer %>">
            </div>
          </div><br />

          <div class="row">
            <div class="col-sm-2">
              <label>공간 기본세팅</label>
            </div>
            <div class="col-sm-2">
              <input type="text" name="spaceset" value="<%= rows[0].spaceset %>"><hr />
              <input type="submit" value="정보수정">
            </div>
          </div><br />
      </form>
    </fieldset>
    </body>
</html>
