<!doctype html>
<html lang="en">
<head>
	<title>세미나실 예약시스템</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/mycss.css">
</head>

<body>
<!-- 네비게이션 바 -->
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
  	<div class="container-fluid">
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi">
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="/main"><b>Soft Calendar</b></a>
  		</div>

  		<div class="collapse navbar-collapse" id="navi">
  			<ul class="nav navbar-nav navbar-right">
  				<li><a href=""><b><%= username %> 님</b></a></li>
					<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">MORE<span class=caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">LOGOUT</a></li>
            </ul>
          </li>
  			</ul>
  		</div>
  	</div>
  </nav>

<!-- 사이드 바 -->
<div class="sidebar">
	<ul class="sidebar-style">
    <li><a href="/space">방정보 보기</a>
  	<li><a href="/reservation">나의 예약하기</a>
  	<li><a href="/check">나의 예약확인</a>
    <img class="img" src="images/schedule.png" />
  </ul>
</div>

<div class="right-text">
  <h1>공간소개</h1><br />
	<h3>공간정보를 확인하세요.</h3><hr />

	<div class="row backg">
		<% for (var i = 0; i < rows.length; i++){
			var data = rows[i];
		%>
		<div class="col-sm-4">
				<h3><%= data.spacename %></h3>
				<img class="spaceimg" src="<%= data.spaceimg %>" />
				<br /><br /><p>이용타입 : 시간단위</p>
				<p>이용인원 : <%= data.spaceusernum %></p><br />
				<p>■ 이 공간을 선호하는 모임은?</p>
				<p>&nbsp;&nbsp;- <%= data.spaceprefer %></p><br />
				<p>■ 기본세팅</p>
				<p>&nbsp;&nbsp;- <%= data.spaceset %></p><br /><br />
		</div>
		<% } %>
	</div>
</div>
	
</body>
</html>
